@keyframes rainbow-border {
    0% {
        border-color: #FF5252; /* Red */
    }
    16% {
        border-color: #FFD740; /* Yellow */
    }
    33% {
        border-color: #5CF19E; /* Green */
    }
    50% {
        border-color: #40C4FF; /* Blue */
    }
    66% {
        border-color: #FF4081; /* Magenta */
    }
    83% {
        border-color: #64FCDA; /* Cyan */
    }
    100% {
        border-color: #FF5252; /* Red */
    }
}

@keyframes color-cycle {
    0% {
        color: #FF5252; /* Red */
    }
    50% {
        color: #64FCDA; /* Cyan */
    }
    100% {
        color: #FF5252; /* Red */
    }
}

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "GohuFont 14 Nerd Font";
  /* font-family: CaskaydiaMono Nerd Font Propo; */
  font-size: 14px;
}

.modules-left {
  /*margin-left: 8px;*/
  padding: 7px;
  margin:6 0 1 10;
  border-radius:10px;
  background: alpha(black,.6);
  box-shadow: none;
  /*border: 2px solid;
  animation: rainbow-border 8s infinite linear;*/
}

.modules-right {
  /*margin-right: 8px;*/
  padding: 7px;
  margin:6 10 1 0;
  border-radius: 10px;
  background: alpha(black,.6);
  box-shadow: none;
}

.modules-center {
  padding:7px;
  margin:6 0 1 0;
  border-radius:10px;
  background: alpha(black,.6);
  box-shadow: none;
}

#workspaces button {
  color: #ECEFF1;
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  color: #546E7A;
  opacity: 0.5;
}

#tray,
#network,
#battery,
#bluetooth,
/*#pulseaudio,*/
#power-profiles-daemon,
#clock {
  color: #ECEFF1;
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 2px;
  background: alpha(black,.6);
  box-shadow:none;
}

#battery.good, #network.wifi, #pulseaudio.high, #power-profiles-daemon.power-saver {
  color: #5CF19E;
}

#battery.charging, #battery.full, #battery.plugged, #network.ethernet, #power-profiles-daemon.performance {
  animation-name: color-cycle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#bluetooth.connected, #pulseaudio.full, #power-profiles-daemon.balanced {
  color: #40C4FF;
}

#battery {
  color: #FFD740; 
}

#battery.warning {
  color: #FFD740;
}

#battery.critical, #network.disconnected, #pulseaudio.low {
  color: #FF5252;
}

#pulseaudio.medium {
  color: #FFD740;
}

#pulseaudio {
  color: #FF4081;
}

#bluetooth.disabled, #pulseaudio.muted, #network.disabled {
  color: #546E7A;
}
